<h2>Add Expense</h2>
<form>
  <label>With <b>You</b> And:</label>
  <select id = "myFriends">
    <option value = "Sweta">Sweta</option>
    <option value = "Shush">Shush</option>
    <option value = "Tahseen">Tahseen</option>
    <option value = "All Friends">All Of Friends</option>
  </select><br><br>
  <label>Description:</label>
  <input type="text" placeholder="Description">
  <label>Amount:</label>
  <select id = "currency">
    <option value = "INR">Indian Rupee</option>
    <option value = "Dollar">American Dollar</option>
    <option value = "Won">Korean Won</option>
    <option value = "Others">Others</option>
  </select>
  <input type="number" placeholder="amount">

  <label>paid by</label>
  <select id = "myFriends">
    <option value = "Sweta">Sweta</option>
    <option value = "Shush">Shush</option>
    <option value = "Tahseen">Tahseen</option>
    <option value = "All Friends">All Of Friends</option>
  </select>
  <label>And Split</label>
  <select id = "splitBy">
    <option value = "equally">Equally</option>
    <option value = "exact amount">By Exact Amounts</option>
    <option value = "percentage">By Percentage</option>
    <option value = "by shares">By Shares</option>
    <option value = "by adjustment">By Adjustment</option>
  </select><br>
  <div class="Split-Amount-By"></div><br>
  <label>Choose Date:</label><br><br>
  <label>Group Or Non-Group:</label>
  <select id = "Group">
    <option value = "Family">Family</option>
    <option value = "Trip">Trip</option>
    <option value = "Promact">Promact</option>
    <option value = "Non-Group">Non-Group Expenses</option>
  </select>

  <button type="submit" class="btn btn-success">Save</button>
  <button type="submit" class="btn btn-primary">Cancel</button>

</form>
