
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="details.component.css">
</head>
  <body >

    <div id="mySidenav" class="sidenav">

      <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a>
      <a [routerLink]="['/expense']" routerLinkActive="router-link-active">Expenses</a>
      <a [routerLink]="['/groups']" routerLinkActive="router-link-active">Groups</a>
      <a [routerLink]="['/friends']" routerLinkActive="router-link-active">Friends</a>
    </div>


    </body>

</html>

