<h2>Add A Settlement</h2>
<form>

  <select id="payer">
    <option value="sweta">Sweta</option>
    <option value="shush">Shush</option>
    <option value="tahseen">Tahseen</option>
    <option value="others">others</option>
  </select>
  <label>Paid</label>
  <select id="receiver">
    <option value="sweta">Sweta</option>
    <option value="shush">Shush</option>
    <option value="tahseen">Tahseen</option>
    <option value="others">others</option>
  </select><br><br>
  <label>Amount:</label><br>
  <select id = "currency">
    <option value = "INR">Indian Rupee</option>
    <option value = "Dollar">American Dollar</option>
    <option value = "Won">Korean Won</option>
    <option value = "Others">Others</option>
  </select>
  <input type="number" placeholder="amount">

  <label>Choose Date:</label><br><br>
  <label>Group Or Non-Group:</label>
  <select id = "Group">
    <option value = "Family">Family</option>
    <option value = "Trip">Trip</option>
    <option value = "Promact">Promact</option>
    <option value = "Non-Group">Non-Group Expenses</option>
  </select>
</form>
