<app-details></app-details>
<app-top-nav></app-top-nav>

<h2>Add A Settlement</h2><hr>
<form>

  <select id = "myFriends" name="payerId" [(ngModel)]="settlement.payerId">
    <option [ngValue]="currentUserId">You</option>
    <option [ngValue] = "f.creator" *ngFor="let f of friendsDtoDetails">{{f.friendName}}</option>

  </select>&nbsp;&nbsp;
  <label>Paid</label>&nbsp;&nbsp;
  <select id = "receiver" name="receiverId" [(ngModel)]="settlement.receiverId">
    <option [ngValue]="currentUserId">You</option>
    <option [ngValue] = "f.creator" *ngFor="let f of friendsDtoDetails">{{f.friendName}}</option>

  </select>&nbsp;&nbsp;<br><br>

  <label>Amount:</label><br>
  <input type="number" placeholder="amount" name="Amount" [(ngModel)]="settlement.amount"><br><br>

  <label>Group/Non-Group</label>
  <select id = "Group" name="groups" [(ngModel)]="settlement.groupId" class="form-control">
    <option [ngValue]="g.groupId" *ngFor="let g of groupDtoDetails">{{g.groupName}}</option>
    <option [ngValue]="null">Non-Group</option>
  </select><br><br>
  <button class="btn btn-primary" (click)="onSubmit(settlement)">Save</button>
  <button [routerLink]="['/dashboard']" class="btn btn-danger">Cancel</button>
</form>
