<app-detail></app-detail>
<app-top-nav></app-top-nav>

<form #form="ngForm">
  <label>My Group Name Will Be: </label><br>
  <input type="text" placeholder="Group Name" name="groupName" [(ngModel)]="groups.groupName" maxlength="30" required><br><br>
  <label>Group type</label><br>
  <select id = "myList" [(ngModel)]="groups.groupType" name="groupType" class="form-control" required>
    <option value = "Apartment">Apartment</option>
    <option value = "Trip">Trip</option>
    <option value = "Family">Family</option>
    <option value = "Others">Others</option>
  </select><br><br>

  <button (click)="ShowAndHide()" class="btn btn-primary">Add Members</button><br><br>

  <div *ngIf="check" >
    <div *ngFor="let f of friendsDtoDetails;index as i;">
      <input  type="checkbox" name="users" (change)="getMembers($event,i)">
      <label name="users">{{f.friendName}}</label>
    </div>

  </div>

<br><br>
<button type="submit" class="btn btn-primary" (click)="onSubmit(groups)" [disabled]="(form.invalid)" [routerLink]="['/dashboard']">Save</button>&nbsp;
<button type="submit" class="btn btn-danger" [routerLink]="['/dashboard']">Cancel</button>
</form>
