<app-details></app-details>
<app-top-nav></app-top-nav>

    <div class="dashboard-div">
      <div class="left-section">
        <h2>DASHBOARD</h2>
      </div>

          <div class="detail-left-sec">
            <h5>YOU OWE</h5>
            <div *ngFor="let f of friendOwing">
              <a href="#" style="color: green;">{{f}}</a>

              <div *ngFor="let a of amountOwing">
                <p style="color: red;">You Owe:&nbsp;{{a}}</p>
              </div>
            </div>
         </div>
          <div class="detail-right-sec" >
            <h5>YOU ARE OWED</h5>
            <div *ngFor="let fo of friendOwed">
              <a href="#" style="color:green">{{fo}}</a>

              <div *ngFor="let ao of amountOwed">
                <p style="color: blue;">You Are Owed:&nbsp;{{ao}}</p>
               </div>
            </div>


          </div>

    </div>
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>




