<app-details></app-details>
<app-top-nav></app-top-nav>

    <div class="dashboard-div">
      <div class="left-section">
        <h2>DASHBOARD</h2>
      </div>

          <div class="detail-left-sec">
            <h5>YOU OWE</h5>
            <a href="#">owe</a>
          </div>
          <div class="detail-right-sec">
            <h5>YOU ARE OWED</h5>
            <a href="#">owed</a>
          </div>
          <label>Group Members</label>



    </div>
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>




