
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">

                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <button class="nav-button" routerLink="['/addexpense']" routerLinkActive="router-link-active">Add Expense</button>

                  </li>
                  <li class="nav-item">
                    <button class="nav-button" [routerLink]="['/addsettlement']" routerLinkActive="router-link-active">Settle Up</button>

                  </li>

                </ul>
            </div>
        </div>
    </nav>
  </header>
