

.nav-button{
  color: black;
  background-color:rgb(112, 150, 180);
}
/*.expense-section{
  float: right;
  color: black;
  padding-right: 20px;
}
.expense-section button{
  color: black;
  background-color:rgb(112, 150, 180);
  padding-right: 20px;
}
.settleup-section{
  float: right;
  color: black;
  right:10px;
  padding-right: 0;
}
.settleup-section button{
  color: black;
  background-color: rgb(112, 150, 180);
  padding-right: 20px;
}*/


