<app-details></app-details>
<app-top-nav></app-top-nav>

<h2>{{pageTitle}}</h2>
<form #form="ngForm">

<label>Email Id: *</label>
<input type="text" placeholder="Email Address" name="email" [(ngModel)]="users.email"
(change)="emailCheckUnique(users.email)" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required><br>

<div *ngIf="message != ''" class="alert-danger">
  {{message}}
</div><br>

<label>Name:</label>
<input type="text" placeholder="Name" name="name" [(ngModel)]="users.name" ><br><br>



<button type="submit" class="btn-btn-primary" [disabled]="(form.invalid)|| !(emailAlreadyExist)" (click)="onSubmit()">ADD</button>
<button class="btn btn-danger" [routerLink]="['/dashboard']" >CANCEL</button>
</form>
